<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>DD-NOTES</title>
    <script src="../scripts/note-model.js" defer></script>
    <script src="../scripts/notelist-model.js" defer></script>
    <script src="../scripts/notelist-view.js" defer></script>
    <script src="../scripts/note-controller.js" defer></script>
    <script src="../scripts/single-note-view.js" defer></script>
  </head>
  <body>
    <div id="app"></div>
    <div id="form">
      <form id="newnote" action="/views/dd-notes.html#newnote" method="post">
        <input type="submit" value="CREATE NOTE" id="submit">
      </form>
      <textarea name="new_note_text" form="newnote" placeholder="Enter your note text here..."></textarea>
    </div>
  </body>
</html>
