<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Number</title>
    <script src="../scripts/number.js" defer></script>
    <script src="../scripts/note-model.js" defer></script>
    <script src="../scripts/notelist-model.js" defer></script>
    <script src="../scripts/notelist-view.js" defer></script>
    <script src="../../tester/tester_helper.js" defer></script>
    <script src="../../tester/tests/number-tests.js" defer></script>
    <script src="../../tester/tests/note-tests.js" defer></script>
    <script src="../../tester/tests/note-view-tests.js" defer></script>
  </head>
  <body>
    <h1>TESTER</h1>
    <h3>Test Framework for DD-NOTES</h3>
    </br>
    </br>
    <div id="result"></div>
  </body>
</html>
